# Java / Maven
target/
*.class
.mvn/
*.jar
*.war
*.ear
*.log

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log
/frontend/coverage/

# Docker
docker-compose.override.yml

# Postgres
postgres_data/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
