spring:
  application:
    name: order-service
  config:
    import: "optional:configserver:http://localhost:8888/"

# Minimal local config, remainder in Config Server
server:
  port: 8083

logging:
  level:
    com.ecommerce.order: DEBUG
