server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/auth/**
        - id: product-service
          uri: ${PRODUCT_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/products/**
        - id: cart-service
          uri: ${CART_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/api/cart/**
        - id: order-service
          uri: ${ORDER_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/api/orders/**

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.ecommerce.gateway: DEBUG

---
# Profile DOCKER
spring:
  config:
    activate:
      on-profile: docker

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://auth-service:8081}
          predicates:
            - Path=/api/auth/**
        - id: product-service
          uri: ${PRODUCT_SERVICE_URL:http://product-service:8082}
          predicates:
            - Path=/api/products/**
        - id: product-categories
          uri: ${PRODUCT_SERVICE_URL:http://product-service:8082}
          predicates:
            - Path=/api/categories/**
        - id: admin-orders
          uri: ${ORDER_SERVICE_URL:http://order-service:8083}
          predicates:
            - Path=/api/admin/**
        - id: cart-service
          uri: ${CART_SERVICE_URL:http://cart-service:8085}
          predicates:
            - Path=/api/cart/**
        - id: order-service
          uri: ${ORDER_SERVICE_URL:http://order-service:8083}
          predicates:
            - Path=/api/orders/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,gateway"
      base-path: /actuator
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always
